{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Auction</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auction_create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="details" placeholder="Details">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="min_amount" placeholder="Min Amount">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image_url" placeholder="Image Url">
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>

{% endblock %}